* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
     display: flex;
     height: 100vh;
     font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: 'Roboto', sans-serif;
    
}

p, h2 a, li, button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400; /* Open Sans Regular */
}

h1
{
    font-size: 45px;
}h2
{
    font-size: 16px;
    font-weight: 400;
}

.contactos {
    width: 20em;
    height: 100vh;
    background-color: #FFF;
    overflow-y: auto;
}

.contactos ul {
    list-style-type: none;
    padding: 0;
}

.principal {
    flex: 1;
    display: flex;
    background-color: #E8EBE4  ;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.img {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-bottom: 20px;
}


.button {
    background-color: #A491D2;
    border: none;
    color: white;
    width: 100%;
    height: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
}
.button:hover {
    background-color: #CDC3E6;
}
.button:focus {
    background-color: #BEC1BB;
}
.tabbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    border-bottom: 1px solid #ccc;
}

.avatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.info {
    flex: 1;
    margin-left: 10px;
}

.info p {
    margin: 0;
}

.info .status {
    color: rgb(126, 128, 126);
    font-size: 0.9em;
}

.icons {
    display: flex;
    margin-top: 10px;
    gap: 10px;
    align-items: center;
    color: #BEC1BB;
}
.button-container {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
     padding: 20px; 
}
.contacto {
    display: flex;
    align-items: center; /* Alinea verticalmente el avatar y el texto */
    justify-content: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.avatar-contact {
    margin-right: 10px;
}

.avatar-contact img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.info-contact {
    display: flex;
    flex-direction: column;
}

.info-contact .name {
    font-size: 18px;
    /* font-weight: bold; */
}

.info-contact .status {
    color: rgb(126, 128, 126);
    font-size: 14px;
}
.button {
    font-size: 14px;
}